body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 375px;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 320px;
    display: flex;
    flex-direction: column;
}

.qr-code{
    max-width: 90%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Mobile Styling */
@media only screen and (max-width: 1399px) {


}

/* Desktop Styling */
@media only screen and (min-width: 1400px) {


}